body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="file"] {
    border: none;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-link {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    outline: none;
}

.tab-link.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.feature-row {
    display: flex;
    gap: 10px;
}

.feature-row input, .feature-row select {
    flex: 1;
}

#add-feature, #add-contact-feature {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-feature:hover, #add-contact-feature:hover {
    background-color: #45a049;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit-btn:hover {
    background-color: #45a049;
}

.disclaimer {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-top: 20px;
}